body {
  background-color:tan;
  box-sizing:border-box;
  border-style: dashed;
  border-width: 5px;
}

header{
  border: 4px solid black;
  text-align: center;
}

h3{
  font-size: 2em;


}

h2{
  font-size: 2em;

}

h1{font-size: 2em;

}

img{
  width: 30%;
  margin: 10px auto;
}
